.container{
  width: 100%;
}

select {
width: 11rem;
height: 3.5rem;
padding: .4rem;
border: 1px solid #999;
font-family: inherit;
background: url(arrow.jpg) no-repeat 95% 50%;
border-radius: 3px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
align: middle;

}
select::-ms-expand {
    display: none;
}

footer {
  text-align: right;
  margin-right: 8rem;
}

.md_left {
  margin-bottom: 0.5em;
  margin-top: 2em;
}
.txt_title {
  text-align: center;
}
.sub_outcom {
  margin-top: 0.3em;
  padding-left: 1.5em;
}

.num1, .idx1, .case1, .acc_num1, .prob1 {
  margin-top: -1em;
}

.num2, .idx2, .case2, .acc_num2, .prob2 {
  margin-top: -1.5em;
}

.num3, .idx3, .case3, .acc_num3, .prob3 {
  margin-top: -2.5em;
}

.num4, .idx4, .case4, .acc_num4, .prob4 {
  margin-top: -3.5em;
}

.num5, .idx5, .case5, .acc_num5, .prob5 {
  margin-top: -4.5em;
}

.num6, .idx6, .case6, .acc_num6, .prob6 {
  margin-top: -5.5em;
}

.view_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.btn_h {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  border: 1px solid green;
  outline: none;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 0.25rem;
  background-color: transparent;
  white-space: nowrap;
  color: green;
}

.title {
  border: none!important;
  background-color: white!important;
  color: black!important;
}

.custom {
  width: 42%!important;
}
.custom_acc {
  width: 16%!important;
}
.custom_chn {
  width: 17%!important;
}
.custom_prob {
  width: 15%!important;
}
.sub_outcom {
  margin-right: 4rem;
}

.t_btn {
  justify-content: space-around;
  vertical-align: center;
  height: 5rem;
}
.list-group-horizontal {
  flex-direction: row;
}

.tbname {
  font-size: large;
}

.left_tb {
  border: 3px;
  border-color: #000;
}

.plus, .minus {
  font-size: large;
  width: 2.5rem;
  height: 3.5rem;
  vertical-align: bottom;
}


.doit {
  height: 3.5rem;
  width: 3.5rem;
  vertical-align: bottom;
}
