.container{
  width: 100%;
}


select {
width: 11rem;
padding: .6rem .4rem;
border: 1px solid #999;
font-family: inherit;
background: url(arrow.jpg) no-repeat 95% 50%;
border-radius: 3px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
align: middle;

}
input {
  padding: .8rem .5rem;
  border: 1px solid #999;
  font-family: inherit;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  align: middle;

}
input, select::-ms-expand {
    display: none;
}

footer {
  text-align: right ;

}

.md_left {
  margin-bottom: 2.5em;
  margin-top: 2em;
}

.num1, .num2, .num3, .num4, .num5, .num6 {
  margin-bottom: 1em;
}

.idx1, .idx2, .idx3, .idx4, .idx5, .idx6 {
  margin-bottom: 1em;
}

.case1, .case2, .case3, .case3, .case4, .case4, .case5, .case6 {
  margin-bottom: 1em;
}
.acc_num1, .acc_num2, .acc_num3, .acc_num4, .acc_num5, .acc_num6 {
  margin-bottom: 1em;
}
.prob1, .prob2, .prob3, .prob4, .prob5, .prob6 {
  margin-bottom: 1em;
}

.view_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.btn_h {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  border: 1px solid green;
  outline: none;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 0.25rem;
  background-color: transparent;
  white-space: nowrap;
  color: green;
}

.custom {
  width: 45%!important;
}
.custom_acc {
  width: 17%!important;
}
.custom_chn {
  width: 13%!important;
}
.custom_prob {
  width: 11%!important;
}

.t_btn {
  justify-content: space-around;
  vertical-align: middle;
  height: 80px
}
.list-group-horizontal {
  flex-direction: row;
}

.tbname {
  font-size: large;
}

.plus, .minus {
  font-size: large;
  width: 1.7rem;
  vertical-align: bottom;
}

.doit {
  height: 2.1rem;
  vertical-align: bottom;
}

/*
.btn--border::after, .btn--border::before,
.btn--border span::after,
.btn--border span::before {
 content: "";
 position: absolute;
 background-color: white;
 transition: 0.5s ease;
}
.btn--border::after, .btn--border::before {
 height: 100%;
 width: 2px;
 top: -2px;
}
.btn--border::after {
 left: -2px;
}
.btn--border::before {
 right: -2px;
}
.btn--border span::after,
.btn--border span::before {
 height: 2px;
 width: 100%;
 left: -2px;
}
.btn--border span::after {
 top: -2px;
}
.btn--border span::before {
 bottom: -2px;
}
.btn--border:hover:after {
 transform: translatex(-12px);
}
.btn--border:hover:before {
 transform: translatex(12px);
}
.btn--border:hover span::after {
 transform: translatey(-12px);
}
.btn--border:hover span::before {
 transform: translatey(12px);
}
*/
